<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Collin Schwantes</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Collin Schwantes</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Collin Schwantes</h1>
                <hr>
                <p>Tech savvy scientist with GIS, R, and Web Development experience</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Data Analysis, Automation, & Visualization </h2>
                    <hr class="light">
                    <p class="text-faded"> With seven years of experience working on multi-million dollar reseach projects, I understand how to leverage data into products and productivity.</p>
                    
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-bar-chart wow bounceIn text-primary fa-4x"></i>
                        <h3>Statistial Analysis</h3>
                        <p class="text-muted">Generalized Linear Models, Spatially Explicit Regression</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-globe wow bounceIn text-primary fa-4x" data-wow-delay=".1s"></i>
                        <h3>GIS</h3>
                        <p class="text-muted">Map Production, Geospatial Databases, and Data Integration</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-code wow bounceIn text-primary fa-4x" data-wow-delay=".2s"></i>
                        <h3>Web Development</h3>
                        <p class="text-muted">Dynamic and interative web applications made with Rshiny</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Bright Ideas</h3>
                        <p class="text-muted">Using research to frame problems, and data to reveal patterns </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://cjschwantes.shinyapps.io/Bees-Needs-App" class="portfolio-box">
                        <img src="img/portfolio/bess_needs_map.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web Application
                                </div>
                                <div class="project-name">
                                    The Bees Needs Data Page
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://cjschwantes.shinyapps.io/A-Pazionado" class="portfolio-box">
                        <img src="img/portfolio/Apazionados.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Web Application
                                </div>
                                <div class="project-name">
                                    A Pazionados: Mapping peace projects in Mexico
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#Poll_Net" class="portfolio-box">
                        <img src="img/portfolio/poll_net.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Data Visualization
                                </div>
                                <div class="project-name">
                                    Pollinator Networks: plotting bee plant associations in GBIF 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://collinschwantes.com/research/" class="portfolio-box">
                        <img src="img/portfolio/pred.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Research
                                </div>
                                <div class="project-name">
                                    Do flower-occupying insects mediate foraging behavior in bees?
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://collinschwantes.com/research/" class="portfolio-box">
                        <img src="img/portfolio/landscape.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Research
                                </div>
                                <div class="project-name">
                                    Investigating land use effects on bee communities using remotely sensed data
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#Resume" class="portfolio-box">
                        <img src="img/portfolio/resume.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Resume
                                </div>
                                <div class="project-name">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="fluid-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to hire me? That's great! Give me a call or send me an email and I will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>262-389-8518</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:collin.schwantes@colorado.edu">Collin.Schwantes@Colorado.edu</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class = "bg-primary" id="Poll_Net">
        <div class="fluid-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Pollinator Networks</h2>
                    <hr class="light">
                    <p>To help inform pollinator plantings in the western Great Plains, I built a pollination network for the region using museum records from <a href="http://www.gbif.org/">GBIF</a>. This network  identifies plant species that are essential to network robusticity, and the species that increase diversity by supporting specialist bees.</p>
                </div>
                
                <img src="img/portfolio/hive.plot.sorted_labels.svg" class="img-responsive" alt="" width = 100%>
                
            </div>
        </div>
    </section>
    
    <section id="Resume">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Resumé</h2>
                    <hr class="primary">
                    <p>Want to see my resumé?</p>
                    </div>
                
                

          <div class="col-lg-8 col-lg-offset-2 text-left">
            <center><h4>Collin J. Schwantes</h4>
            <h6>2500 Wisconsin Ave NW #754 Washington D.C., 20007<br />262-398-8518 | Collin.Schwantes[at]colorado.edu | www.CollinSchwantes.com
            </h6></center>
            
<div id="summary" class="section level4">
<h4>Summary</h4>
<p>Technically savvy scientist with a record of fluidly working on multiple large projects. Understands how to leverage data into products and productivity. Incorporates office administrative skills to organize, schedule, and communicate effectively.</p>
<table class = "table">
<colgroup>
<col width="45%"></col>
<col width="39%"></col>
<col width="15%"></col>
</colgroup>
<thead>
<tr class="header">
<th align="left">Research</th>
<th align="left">Communication</th>
<th align="left">Programming</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Regression analyses</td>
<td align="left">Data Visualization</td>
<td align="left">R</td>
</tr>
<tr class="even">
<td align="left">Database management</td>
<td align="left">Map production</td>
<td align="left">Model Builder</td>
</tr>
<tr class="odd">
<td align="left">Data quality control</td>
<td align="left">Web Applications</td>
<td align="left">MySQL</td>
</tr>
<tr class="even">
<td align="left">Reference Management tools</td>
<td align="left">Spanish - <em>fluent</em></td>
<td align="left">GIT</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="col-lg-8 col-lg-offset-2 text-left">
<div id="professional-experience" class="section level4">
<h4>Professional Experience</h4>
<p><strong>GIS Specialist and Spatial Analyst</strong> - <em>University of Colorado Museum of Natural History</em> - <em>Boulder, Colorado</em><br /><em>2015-Present</em></p>
<ul>
<li>Developed and am implementing an open research plan for a multi-year citizen science project using open databases, R, and GIThub to transparently study the relationship between urban land-use and bee diversity in multiple cities.</li>
<li>Created a web application that allows 500+ citizen scientists and interested members of the public to explore bee diveristy data.</li>
</ul>
<p><strong>Research Assistant</strong> - <em>University of Colorado Boulder</em> - <em>Boulder, Colorado</em><br /><em>2013-2015</em></p>
<ul>
<li>Collected, integrated, and analyzed biological data, remotely sensed agricultral data, and infrastructure data in R and ArcGIS while managing and mentoring 10 undergraduate research technicians.<br /></li>
<li>Presented data at four professional conferences and created figures for USDA reports.</li>
</ul>
<p><strong>Research Technician</strong> - <em>University of Wisconsin Madison</em> - <em>Madison, Wisconsin</em><br /><em>2008-2013</em></p>
<ul>
<li>Conducted site selection and landcover data extractions in ArcGIS for Department of Energy funded research.</li>
<li>Trained graduate students and visiting academics to use ArcGIS.</li>
<li>Led field research teams from 2010-2013.</li>
</ul>
</div>
</div>
<div class="col-lg-8 col-lg-offset-2 text-left">
<div id="education" class="section level4">
<h4>Education</h4>
<p><strong>Master of Arts Ecology and Evolutionary Biology</strong><br />University of Colorado Boulder - 2013-2015</p>
<p><strong>Bachelor of Science Evolutionary Biology, Spanish Linguistics, Zoology</strong><br />University of Wisconsin Madison - 2006-2011</p>
</div>
</div>
</div>
</div>
                
            </div>
        </div>
    </section>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
